// some scss
@font-face {
  font-family: IRANSans;
  src: url("./assets/FontsFree-Net-ir_sans.ttf");
  font-weight: normal;
}

@mixin respond($break-point) {
  // 0 -600 px
  @if $break-point == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  // 600px - 900px
  @if $break-point == port-tab {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  // 900px -  1200px
  @if $break-point == land-tab {
    @media (max-width: 75em) {
      @content;
    }
  }

  // 1200px  - 1800px desktop and normal screen sizes ;

  // 1800px  - ... large
  @if $break-point == large-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }

  @if $break-point == from-port {
    @media (min-width: 56.25em) {
      @content;
    }
  }
}

* {
  //@include respond(land-tab) {
  font-family: IRANSans;
  //}
}

html {
  //font-size: 62.5%; // 1rem = 10px ;   10/16  * 100   =
  //box-sizing: inherit;
  //@include respond(land-tab) {
  //font-size: 56.25%; // 1rem=9px 9/16 *100
  //}
  //
  //@include respond(port-tab) {
  //font-size: 50%; //   1rem=8px (8/16) *100
  //}
  //
  //@include respond(large-desktop) {
  //font-size: 75%; // 1rem = 12px
  //}
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

a {
  color: white;
  text-decoration: none;
}
#root {
  overflow: hidden;
}

.transActionPlaceHolder {
  background: linear-gradient(270deg, #f9f9f9, #c8c8c8);
  background-size: 400% 400%;

  -webkit-animation: placeHolderAnim 1s ease infinite;
  -moz-animation: placeHolderAnim 1s ease infinite;
  animation: placeHolderAnim 1s ease infinite;
}

@-webkit-keyframes placeHolderAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes placeHolderAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes placeHolderAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active .page {
  opacity: 1;
  transition: opacity 450ms ease-in;
}
